<!-- <div class="navbar">
  <ul>
    <li><a [routerLink]="['Home']" [routerLinkActive]="'active'">Home</a></li>
    <li><a [routerLink]="['About']" [routerLinkActive]="'active'">About</a></li>
    <li><a [routerLink]="['Contact']" [routerLinkActive]="'active'">Contact</a></li>
    <li><a [routerLink]="['Courses']" [routerLinkActive]="'active'">Courses</a></li>
  </ul>
</div>


<div class="component-container">   
  <app-about></app-about>
  <app-contact></app-contact>
  <app-courses></app-courses>
  <app-home></app-home>
  <router-outlet> </router-outlet>
</div> -->

<!-- <app-loginpage></app-loginpage> -->



<app-parent></app-parent>

